@charset "UTF-8";

/*Configuração global*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", serif;
}

body {
    background-color: #f9f8f4;
}

.limite {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Configuração topo/ menu */
.capa {
    background-image: url('../assets/img/fotos-galerias/enhanced-image\ \(4\).webp');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 1000px;
}

.pelicula {
    background-color: rgba(0, 0, 0, 0.384);
    height: 100%;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10px;
}

nav > a {
    text-decoration: none;
    color: #f9f8f4;
    padding: 40px;
    text-shadow: 1px 1px 10px #00000094;
    font-weight: 500;
    font-size: 23px;
}