@charset "UTF-8";

/*Configuração global*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", serif;
}


body {
    background-color: #f9f8f4;
}

.limite {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Configuração topo/ menu */
.capa {
    background-image: url('../assets/img/fotos-galerias/enhanced-image\ \(4\).webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fundo-menu {
    max-width: 1024px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    padding: 20px;
    margin: 0px auto;

    position: relative;
    top: 30px;
    left: 0;
}

.menu {
    flex: 1;
}

.menu a {
    padding: 10px;
    font-size: 21px;
    text-decoration: none;
    color: #f9f8f4;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.logo {
    flex: 1;
    text-align: left;
    margin-left: 80px;
}

.logo img {
    max-width: 20%;
    height: auto;
}

.logo-rodape img {
    max-width: 20%;
    height: auto;
}

.titulo-topo {
    width: 100%;
    margin-top: 180px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.575);
    color: #f9f8f4;
    font-size: 30px;
}

.bnt-orcamento-sobre {
    width: 300px;
    padding: 10px;
    border: 1px solid #bc6c25;
    border-radius: 5px;
    background-color: #bc6c25;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.bnt-orcamento-sobre:hover {
    background-color: #df802d;
}

.bnt-orcamento-sobre a {
    text-decoration: none;
    color: #F9F8F4;
}